.header {
  width: 75%;
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 80px;
  @include for-size (tablet){
    width: 70%;
    margin-left: 0;
    padding-left: 60px;
  }
  @include for-size (desktop){
    width: 760px;
    padding-left: 0;
    margin: 0 auto;
  }
}

.header__img {
  display: inline-block; 
   @include for-size (desktop){
   width: 150px;
  } 
}

.container_header_background {
  background: url(../img/header.jpg);

  background-size: cover;
  background-position: 42% 70%;
}
.container_header_banner {
  display: block;
  background: hsla(230, 65%, 50%, 0.7);
  background-size: cover;
  background-position: center;
}
.header_maintext {
  font-family: $main-font, sans-serif;
  color: #ffffff;
  text-align: left;
  letter-spacing: 2px;
  padding-top: 150px;
  @include for-size (desktop){
    padding-top: 300px;
    padding-bottom: 100px;
  }   
}
.header_title{
  font-size: 22px; 
  @include for-size (tablet){
  font-size: 40px
  }
  @include for-size (desktop){
  font-size: 38px;
  }
}   

.header_hr {
  width: 40px;
  margin: 15px 0;
  @include for-size (tablet){
    display: inline-block;
  }
  @include for-size (desktop){
    width: 60px;
  }
}

.header_subtitle{
  text-transform: uppercase;
  font-size: 12px;
  @include for-size (tablet){
    font-size: 10px;
    display: inline-block;
    margin-left: 10px;
  }
  @include for-size (desktop){
    font-size: 8px;
  }
}
