.progress-wrapper {
  padding-top: 45px;
  text-align: center;
  background-color: $bg-light-color;
  font-family: $main-font;

  &__title {
    width: 70%;
    margin: 0 auto;
    margin-bottom: 35px;
    font-size: $small-title-size;
    font-weight: $font-weight-bold;
    color: $text-dark-color;

    @include for-size(tablet) {
      font-size: $big-title-size;
    }
    @include for-size(desktop) {
      font-size: $desktop-small-title-size;
    }
  }
}

.progress-bar-first {
  margin-bottom: 38px;
  background-color: $bg-light-color;

  &__title {
    margin-bottom: 25px;
    font-size: $subtitle-size;
    font-weight: $font-weight-bold;
    color: $text-dark-color;
    text-transform: uppercase;
  }
}

.line-bar {
  display: inline-block;
  // width: 20px;
}
